/* ========== RULES ========== */
@charset "UTF-8";

/* ========== FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* ========== GLOBAL ========== */

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive
}

* {
    margin: 0;
}

/* ========== HEADER ========== */

header {
    background-color: black;
    color: white;
    padding: 50px;
    
}

header > h1 {
    font-size: 10vw;
    text-align: center;
    font-family: var(--font02);
    margin: 10px 0px;
    font-variant: small-caps;
}

header > p {
    text-align: center;
    color: gray;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* ========== MAIN ========== */
html, body {
    height: 100vh;
    background-color: darkgray;
}

section {
    padding: 10vh 0 10vh 15px;
    line-height: 2em;
    font-family: var(--font03);
    font-size: 4vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(31, 30, 30);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.39);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02  {
    background-image: url('../imagens/background002.jpg');
}

/*Remove um espaço a mais no final da pagina*/
section#secend {
    padding-bottom: 0;
}

/* ========== FOOTER ========== */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}
